@import url(//db.onlinewebfonts.com/c/aa1ab415485e8dc1f047895eb75bfa25?family=URW+Geometric);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'URW Geometric';
	font-size: 20px;
	line-height: 34px;
}

.container {
	width: 90%;
	margin: auto;
}


.asset-1 {
	position: absolute;
	z-index: -1;
	right: 0;
	top: 0;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 40%;
	align-items: center;
}

.reg {
	display: flex;
	justify-content: space-around;
	width: 30%;
	align-items: center;
}

.right-item .reg a {
	color: #FDDB3A;
}





.right-item ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.right-item ul a {
	text-decoration: none;
	color: #5D5D5D;
}

.right-item {
	width: 100%;
}

.right-item a {
	color: #FDDB3A;
	text-decoration: none;
	font-weight: 500;

}

.right-item button.btn-reg {
	color: #FDDB3A;
	filter: drop-shadow(6px 6px 50px rgb(254, 217, 174));
	background-color: #ffff;
	font-weight: 500;
}



button.btn {
	font-size: 20px;
	font-family: 'Poppins';
	padding: 0.5rem 2.5rem;
	border-radius: 1.5rem;
	border: none;
	cursor: pointer;
}

.txt-head h1 {
	font-size: 64;
	font-weight: 700;
	color: #020202;
	margin-bottom: 2.5rem;
}

.txt-desc {
	display: flex;
	align-items: center;
	margin-bottom: 3rem;
}

.line {
	border: 2px solid #FF9F31;
	width: 18%;
	margin-right: 2rem;
}

.txt-desc h4 {
	font-size: 25px;
	color: #FF9F31;
	font-weight: 500;
	line-height: 0;
}

.hero {
	display: flex;
	align-items: center;
	justify-content: space-between;
}



.reg-socmed {
	display: flex;
	align-items: center;
	width: 100%;
}

.socmed-bg {
	width: 160px;
	margin-right: 2.5rem;
	padding: 1rem 0rem;
	border-radius: 25px;
	border: 1px solid #AAAAAA;
	color: #727272;
	margin-bottom: 2rem;
}

.socmed {
	display: flex;
	line-height: 100%;
	align-items: center;
	justify-content: center;
}

.socmed-bg:hover {
	width: 160px;
	font-size: 25px;
	box-shadow: -6px 15px 50px 0px rgba(0, 0, 0, 0.16);
	filter: drop-shadow(0px 20px 25px #FED8AD);
	cursor: pointer;
}

.socmed-bg:hover img {
	height: 50px;
	width: 50px;

}

.socmed img {
	margin-right: 1rem;
}

.form-input {
	color: #AAAAAA;
	width: 85%;
}

.form-2-col {
	display: flex;
	align-items: center;
}

.input-name {
	width: 100%;
}

.input-first-name {
	margin-right: 3rem;
}

.input input {
	padding: 1rem 1rem;
	border-radius: 25px;
	border: 1px solid #C4C4C4;
	width: 100%;
	font-size: 20px;
}

.input p {
	margin-left: 1.5rem;
	margin-bottom: 0.5rem;
}

.form-full {
	margin: 1rem 0;
}

.input-password-1 {
	margin-right: 3rem;
}

.input input:focus {
	background-color: #FFFED7;
	filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.161));
	color: #5D5D5D;
}

.checkbox {
	display: flex;
	align-items: center;
	margin-top: 3rem;
}

.container-check {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
}

/* Hide the browser's default checkbox */
.container-check input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 28px;
	width: 28px;
	background-color: #ffff;
	border: 1px solid #C4C4C4;
	border-radius: 10px;
}

/* On mouse-over, add a grey background color */
.container-check:hover input~.checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
	background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.container-check p a {
	color: #FDDB3A;
	text-decoration: none;
}

.container-check p {
	font-weight: 500;
}

button.btn-primary {
	padding: 1.25rem;
	color: #ffffff;
	font-weight: 600;
	background-color: #FDDB3A;
	filter: drop-shadow(0px 20px 25px #FED8AD);

}

button.btn-register {
	width: 350px;
	margin: 1.5rem 0;

}

button.btn-register:active {
	background-color: #FDDB3A;
	box-shadow: 0 5px #FED8AD;
	transform: translateY(4px);
}

button.btn-register:hover {
	opacity: 0.8;
}

.login-desc {
	font-weight: 500;
}

.login-desc p {
	color: #727272;
}

.login-desc p a {
	text-decoration: none;
	color: #FDDB3A;
	font-weight: 500;
}

.illu-2 img {
	width: 100%;
}

.burger div {
	width: 28px;
	height: 3px;
	background-color: #FF9F31;
	margin: 5px;
	border-radius: 10px;
	transition: transform 0.4s ease-out;
	display: none;
}

@media only screen and (max-width:1024px) {
	.right-item {
		width: 70%;
	}

	.nav-links {
		width: 55%;

	}

	.reg {
		width: 50%;
	}

	.hero {
		flex-direction: column-reverse;
	}

	.illu-2 {
		width: 70%;
	}
}

@media only screen and (max-width:768px) {
	body {
		overflow-x: hidden;
	}

	.links {
		position: absolute;
		flex-direction: column;
		justify-content: center;
		background-color: #Ffffff;
		width: 50%;
		right: 0;
		top: 12vh;
		height: 50vh;
		border-radius: 10px;
		justify-content: space-around;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}

	.nav-links {
		flex-direction: column;
		height: 50%;
	}

	.reg {
		flex-direction: column;
		height: 50%;
	}


	.burger div {
		display: block;
	}

	.left-item {
		width: auto;
	}

	.form-reg {
		width: 100%;
	}

	.burger {
		cursor: pointer;
	}
}

@media only screen and (max-width:568px) {
	body {
		font-size: 16px;
	}

	.container-check {
		font-size: 18px;
	}



	.socmed-bg {
		margin-right: 0.5rem;
		padding: 0.5rem 0rem;
	}

	.socmed img {
		margin-right: 0.25rem;
		width: 30px;
		height: 30px;
	}

	.input input {
		padding: 0.5rem 0.5rem;
		border-radius: 25px;
		border: 1px solid #C4C4C4;
		width: 100%;
		font-size: 16px;
	}

	.input-first-name {
		margin-right: 0.25rem;
	}

	.input-name p {
		width: 100%;
		margin-left: 0;
	}

	.input-password-1 {
		margin-right: 0.25rem;
	}

	button.btn-register {
		width: 250px;
		font-size: 16px;

	}

	.form-input {
		width: 100%;
	}


}

.nav-active {
	transform: translateX(0%);
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}