@import url(//db.onlinewebfonts.com/c/aa1ab415485e8dc1f047895eb75bfa25?family=URW+Geometric);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'URW Geometric';
	font-size: 20px;
	line-height: 34px;
}

.container {
	padding: 1.5rem 7.5rem;
}

.asset-1 {
	position: absolute;
	z-index: -1;
	right: 0;
	top: 0;
}

nav {
	width: 83.33%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.left-item {
	display: flex;
	align-items: center;
}

.left-item img {
	margin-right: 4rem;
}

.left-item ul a {
	margin-right: 6.75rem;
	text-decoration: none;
	color: #5D5D5D;
}

.right-item {}

.right-item a {
	margin-right: 5.5rem;
	color: #FDDB3A;
	text-decoration: none;

}

.right-item button.btn-reg {
	color: #FDDB3A;
	filter: drop-shadow(6px 6px 50px rgba(117, 117, 117, 0.6));
	background-color: #ffff;
}



button.btn {
	font-size: 20px;
	font-family: 'Poppins';
	padding: 0.5rem 2.5rem;
	border-radius: 1.5rem;
	border: none;
}